/* Navigation Bar */
nav {
    width: 100%;
    height: 10vh;
    padding: 0 1.8rem;
    background-color: blue;
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
  }

  .menu-name {
    display: none;
    font-size: 1.2rem;

  }

  .nav-name {
    font-size: 1.2rem;
  }

  .filler {
    height: 10vh;
  }

  .logo {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #fff;
    box-shadow: 2px 2px #000;
    text-shadow: 2px 2px #000;
  }
  
  .menu {
    width: 50%;
    height: 100vh;
    padding: 8.5rem 0;
    background: blue;
    position: fixed;
    right: -50%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: right 0.4s ease;
  }

  .menu-button-left {
    height: 66%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .menu-button-right {
    height: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .nav-btn {
    color: #fff;
    background-color: #4e4eff;
    border-radius: 2px;
    border: 1px solid #fff;
    padding: 6px 0px;
    display: inline-block;
    text-align: center;
    width: 120px;
    font-size: 1.2rem;
  }

  .nav-btn:hover {
    background: #0000eb;
  }

  .nav-btn:active {
    background: #0000c4;
    border-color: #0000c4;
  }

  .nav-btn:visited, .nav-btn {
    text-decoration: none;
  }
  
  .burger {
    width: 45px;
    height: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: transform 0.4s ease;
    z-index: 2;
  }
  
  .first-bar,
  .second-bar,
  .third-bar {
    width: 100%;
    height: 3px;
    background-color: white;
  }
  
  .toggler {
    position: absolute;
    right: 1.8rem;
    display: block;
    height: 45px;
    width: 45px;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
  }
  
  .toggler:checked + .burger {
    transform: rotate(135deg);
  }
  
  .toggler:checked + .burger .first-bar,
  .toggler:checked + .burger .third-bar {
    position: absolute;
    transform: rotate(90deg);
  }
  
  .toggler:checked:hover + .burger {
    transform: rotate(225deg);
  }
  
  .toggler:checked ~ .menu {
    right: 0%;
  }

  @media (min-width: 750px) {
    /* Nav */
    nav {
      justify-content: center;
      padding: 0;
    }

    .nav-name {
      display: none;
    }

    .menu-button-left {
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;
      align-items: center;
    }
  
    .menu-button-right {
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
    

    .menu-name {
      display: block;
    }

    .checkbox, .burger {
      display: none;
    }

    .menu {
      width: 100%;
      height: 10vh;
      right: 0;
      padding: 0;
      flex-direction: row;
      position: relative;
    }
  }

  @media (min-width: 930px) {
    .menu-button-left {
      height: 100%;
      width: 30%;
    }
  
    .menu-button-right {
      height: 100%;
      width: 40%;
    }
  }