.view-post {
    width: 500px;
    min-height: 95vh;
    margin: auto;
    padding: 50px 20px 10px 20px;
    box-shadow: 0 0 5px #000;
    background-color: #fff;
}

.viewpost-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.5rem;
    text-decoration: underline;
}

.viewpost-author,
.viewpost-description {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.viewpost-title,
.viewpost-author,
.viewpost-description,
.viewpost-content {
    word-wrap: break-word;
}


.viewpost-dates {
    color: grey;
}

.viewpost-content {
    white-space: pre-line;
    margin-top: 4rem;
    font-size: 1.3rem;;
}

.view-post-buttons {
    width: 50%;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
}

@media (min-width: 750px) {
    .view-post {
        width: 600px;
        padding: 50px 30px 10px 30px;
    }

    .post-title {
        margin-bottom: 40px;
    }
}

@media (min-width: 930px) {
    .view-post {
        width: 700px;
        padding: 50px 40px 10px 40px;
    }

    .viewpost-title {
        margin-bottom: 50px;
    }
}